#conteudo {
  background: #dcdcdc;
  height: 400px;
  width: 300px;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: white;
  border: 1px solid gray;

  justify-content: flex-start;

}